{% extends "base.html" %}
{% block content %}
<h1 class="blog-title"> Build a Blog </h1>
    {% if blog_entries|length == 0 %}
        <p>No blogs yet</p>
    {% else %}
        {% for blog in blog_entries %}
        <ul class="blog-entries">
             <li>
                <a href="/blog?id={{blog.id}}">
                    <h2>{{blog.title}}</h2>
                </a>
            </li>
             <li>{{blog.body}}</li>
        </ul>
        <hr />
        {% endfor %}
    {% endif %}
{% endblock %}
  
