{% extends "base.html" %}

{% block content %}

<div>
    <h1>Sign Up</h1>
    <form action="/validate" method="post">
        <table>
            <tr>
                <td align="right">Username </br>
                </td>
                <td align="left"><input type="text" name="username" value="{{username}}" /></td>
                <td align="left">{{username_error}}</td>
            </tr>
            <tr>
                <td align="right">Password</br></td>
                <td align="left"><input type="password" name="password" value="{{password}}" /></td>
                <td align="left">{{password_error}}</td>
            </tr>
            <tr>
                <td align="right">Verify Password</br></td>
                <td align="left"><input type="password" name="verify" value="{{verify}}" /></td>
                <td align="left">{{verify_error}}</td>
            </tr>
        </table>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>

{% endblock %}